:root {
  --highlighter: rgb(223, 83, 58);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 425;
  font-style: normal;
  text-align: center;
  background-color: rgb(217, 191, 239);
}

p {
  font-size: 12pt;
  margin-left: 20px;
}

h1 {
  color: rgb(0, 119, 255);
}

#profile {
  width: 250px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

span {
  color: var(--highlighter);
}

#blog-list {
  list-style-position: inside;
}

#home {
  display: flex;
  border-radius: 15pt;
  border-style: none;
  background-color: rgb(149, 2, 182);
  color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  padding: 10px 15px 10px 15px;
  font-weight: 700;
  font-style: normal;
  font-size: 15pt;
  cursor: pointer;
}

ul {
  list-style-type: upper-roman;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
  height: 220px;
  align-items: center;
  justify-content: center;
}

.flex-container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

h3 {
  margin-top: 10px;
}

.nav {
  border-radius: 15pt;
  border-style: none;
  background-color: rgb(2, 182, 131);
  color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  padding: 10px 15px 10px 15px;
  font-weight: 700;
  font-style: normal;
  margin: 15px 20px 10px 20px;
  cursor: pointer;
}

main {
  background-color: rgba(255, 255, 255, 0.884);
  width: 80%;
  margin-left: 10%;
  border-radius: 20pt;
  padding: 5px 10px 5px 10px;
}

li {
  border-style: solid;
  border-radius: 5pt;
  margin: 5px;
  padding: 4px;
  width: 250px;
  border-color: rgb(85, 85, 85);
}

h4 {
  font-size: 16pt;
  margin-bottom: 5px;
}

#staticExample {
  width: 95%;
}

#fixDiv {
  position: fixed;
  width: 120px;
  height: 20px;
  background-color: rgb(83, 0, 128);
  bottom: 0;
  right: 0;
  color: rgb(83, 0, 128);
}

figcaption {
  font-size: 10pt;
}

#snow {
  display: flex;
  margin: -10px;
  flex-wrap: wrap-reverse;
}

#snow-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 150pt;
}
