/* Can switch the nav to a column, but doesn't seem needed now that the container will fit content */
/* @media (max-width: 550px) {
  .flex-container-nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  #previous {
    order: 1;
  }
  #next {
    order: 2;
  }
  h1 {
    order: 3;
  }
} */

/* Old profile image styles
#profile {
   width: 80%;
  height: 80%;
  object-position: center;
  max-height: 200px;
}
  */

/* Old list styles

  li {
  border-radius: 5pt;
  margin: 5px;
  padding: 15px;
  color: rgb(240, 240, 240);
  background: #027db6d7;
}
  li:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.65);
}
ul {
  list-style-type: upper-roman;
  padding: 0;
} 

#blog-list {
  list-style-position: inside;
} */
